
        <section>
            <div id="carousel-example-generic" class="carousel carousel-mind slide" data-ride="carousel" data-interval="5000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-7">
                                    <div class="carousel-caption">
                                        <div class="carousel-text">
                                           <h1 class="animated fadeInDownBig">The template that adapts to all projects</h1>
                                           <ul class="list-unstyled carousel-list">
                                               <li class="animated bounceInLeft"><i class="fa fa-code"></i><span>Built with Bootstrap</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-html5"></i><span>HTML5 and CSS3</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-table"></i><span>Responsive Template</span></li>
                                           </ul>
                                       </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
                                    <div class="carousel-img">
                                        <img src="/assets/pre.png" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-8">
                                    <div class="carousel-caption">
                                        <div class="carousel-text">
                                           <h1 class="animated fadeInDownBig">design your own template very easily</h1>
                                           <ul class="list-unstyled carousel-list">
                                               <li class="animated bounceInLeft"><i class="fa fa-eye"></i><span>More Than 15 Colors</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-th-large"></i><span>Customizable Components</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-files-o"></i><span>Over 25 pages ready to use</span></li>
                                           </ul>
                                       </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4 hidden-xs carousel-img-wrap">
                                    <div class="carousel-img">
                                        <img src="/assets/pre2.png" alt="pre" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-7 col-sm-9">
                                    <div class="carousel-caption">
                                        <div class="carousel-text">
                                           <h1 class="animated fadeInDownBig">WordPress version coming soon</h1>
                                           <ul class="list-unstyled carousel-list">
                                               <li class="animated bounceInLeft"><i class="fa fa-code"></i><span>Shortcodes For All</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-files-o"></i><span>Page Templates Ready</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-upload"></i><span>Free update for HTML orders</span></li>
                                           </ul>
                                       </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-5 col-sm-3 hidden-xs carousel-img-wrap">
                                    <div class="carousel-img">
                                        <img src="/assets/pre3.png" alt="pre" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section id="home-works">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12">
                    <h2 class="section-title text-center">最新作品</h2>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="img-caption">
                      <img width="800" height="533" src="/assets/w1.jpg" class="attachment-, img-responsive wp-post-image" alt="w2">
                      <div class="caption">
                        <div class="caption-content">
                          <h4 class="">Pretty spring</h4>
                          <a href="/products/test">点击查看</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="img-caption">
                      <img width="800" height="533" src="/assets/w2.jpg" class="attachment-, img-responsive wp-post-image" alt="w1">                                                       <div class="caption">
                        <div class="caption-content">
                          <h4 class="">Pretty spring</h4>
                          <a href="/products/test">点击查看</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="img-caption">
                      <img width="800" height="533" src="/assets/w3.jpg" class="attachment-, img-responsive wp-post-image" alt="w6">                                                       <div class="caption">
                        <div class="caption-content">
                          <h4 class="">Pretty spring</h4>
                          <a href="/products/test">点击查看</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="img-caption">
                      <img width="800" height="533" src="/assets/w1.jpg" class="attachment-, img-responsive wp-post-image" alt="w5">                                                       <div class="caption">
                        <div class="caption-content">
                          <h4 class="">Pretty spring</h4>
                          <a href="/products/test">点击查看</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="img-caption">
                      <img width="800" height="533" src="/assets/w2.jpg" class="attachment-, img-responsive wp-post-image" alt="2255332986_c00b655dd0_b">                                <div class="caption">
                        <div class="caption-content">
                          <h4 class="">Pretty spring</h4>
                          <a href="/products/test">点击查看</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="img-caption">
                      <img width="800" height="533" src="/assets/w3.jpg" class="attachment-, img-responsive wp-post-image" alt="w3">                                                       <div class="caption">
                        <div class="caption-content">
                          <h4 class="">Pretty spring</h4>
                          <a href="/products/test">点击查看</a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div> <!-- row -->
            </div> <!-- container -->
        </section>