
        <section>
            <div id="carousel-example-generic" class="carousel carousel-mind slide" data-ride="carousel" data-interval="5000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-7">
                                    <div class="carousel-caption">
                                        <div class="carousel-text">
                                           <h1 class="animated fadeInDownBig">水晶国藏</h1>
                                           <ul class="list-unstyled carousel-list">
                                               <li class="animated bounceInLeft"><i class="fa fa-code"></i><span>传世精品</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-html5"></i><span>权威鉴定</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-table"></i><span>第一品牌，万人口碑</span></li>
                                           </ul>
                                       </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
                                    <div class="carousel-img">
                                        <img src="/assets/pre.png" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-8">
                                    <div class="carousel-caption">
                                        <div class="carousel-text">
                                           <h1 class="animated fadeInDownBig">水晶文化</h1>
                                           <ul class="list-unstyled carousel-list">
                                               <li class="animated bounceInLeft"><i class="fa fa-eye"></i><span>国韵珍品</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-th-large"></i><span>旺财结晶</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-files-o"></i><span>莹洁晶光</span></li>
                                           </ul>
                                       </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4 hidden-xs carousel-img-wrap">
                                    <div class="carousel-img">
                                        <img src="/assets/pre2.png" alt="pre" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-7 col-sm-9">
                                    <div class="carousel-caption">
                                        <div class="carousel-text">
                                           <h1 class="animated fadeInDownBig">水晶工艺</h1>
                                           <ul class="list-unstyled carousel-list">
                                               <li class="animated bounceInLeft"><i class="fa fa-code"></i><span>精雕细琢</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-files-o"></i><span>手工 + 激光</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-upload"></i><span>100% 纯天然</span></li>
                                           </ul>
                                       </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-5 col-sm-3 hidden-xs carousel-img-wrap">
                                    <div class="carousel-img">
                                        <img src="/assets/pre3.png" alt="pre" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section>
          <div class="container">
              <div class="row">
                  <h2 class="page-header text-center">最新珍品</h2>
                  <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                      <a href="/products/test"><img src="/assets/avatar1.jpg" alt="..."></a>
                      <div class="caption">
                        <h4>一帆风顺</h4>
                        <p>优惠价：<span class="product-price">¥ 1000</span><a href="/products/test" class="btn btn-danger pull-right">立即抢购</a></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                      <a href="/products/test"><img src="/assets/avatar2.jpg" alt="..."></a>
                      <div class="caption">
                        <h4>一言九鼎</h4>
                        <p>优惠价：<span class="product-price">¥ 1000</span><a href="/products/test" class="btn btn-danger pull-right">立即抢购</a></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                      <a href="/products/test"><img src="/assets/avatar3.jpg" alt="..."></a>
                      <div class="caption">
                        <h4>诚信金鼎</h4>
                        <p>优惠价：<span class="product-price">¥ 1000</span><a href="/products/test" class="btn btn-danger pull-right">立即抢购</a></p>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                      <a href="/products/test"><img src="/assets/avatar4.jpg" alt="..."></a>
                      <div class="caption">
                        <h4>莲花宝典</h4>
                        <p>优惠价：<span class="product-price">¥ 1000</span><a href="/products/test" class="btn btn-danger pull-right">立即抢购</a></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                      <a href="/products/test"><img src="/assets/avatar5.jpg" alt="..."></a>
                      <div class="caption">
                        <h4>一马当先</h4>
                        <p>优惠价：<span class="product-price">¥ 1000</span><a href="/products/test" class="btn btn-danger pull-right">立即抢购</a></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                      <a href="/products/test"><img src="/assets/avatar6.jpg" alt="..."></a>
                      <div class="caption">
                        <h4>吉祥如意</h4>
                        <p>优惠价：<span class="product-price">¥ 1000</span><a href="/products/test" class="btn btn-danger pull-right">立即抢购</a></p>
                      </div>
                    </div>
                  </div>
              </div> <!-- row -->
            </div> <!-- container -->
        </section>