<section id="product-panel">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <section class="home-post">
            <a href="#" class="thumbnail">
                <img width="727" height="360" src="/assets/7-727x360.jpg" class="attachment-, img-responsive wp-post-image" alt="7">
            </a>
        </section>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-lg-12 col-sm-6 col-md-12"><h2>水晶名称</h2></div>
          <div class="col-lg-12 col-sm-6 col-md-12"><p>优惠价：<span class="product-price">10000￥</span></p></div>
          <div class="col-lg-12 col-md-12 col-sm-6"><p>市场价格：<span class="product-price-range">50000￥ 60000￥</span></p></div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <p>分类：黄水晶</p>
                    <p>材质：天然水晶/半宝石</p>
                    <p>颜色：灰紫</p>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <p>镶嵌：黄金</p>
                    <p>图案：如意</p>
                    <p>透明度：不透明</p>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12 col-md-12">
        <ul class="nav nav-tabs nav-justified">
          <li role="presentation" class="active"><a href="#">宝贝详情</a></li>
          <li role="presentation"><a href="#">累计评论</a></li>
          <li role="presentation"><a href="#">资质证书</a></li>
          <li role="presentation"><a href="#">购买帮助</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>