  <header id="header" class="hidden-xs">
    <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div id="header-title">
              <h1 class="animated fadeInDown"><a href="http://razonartificial.com/themes/openmind/wordpress"><span>水晶精品</span></a></h1>
              <p class="animated fadeInLeft">东海水晶甲天下</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div id="search-header" class="hidden-xs animated fadeInRight">
              <form class="navbar-search" method="get" action="#">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="请输入关键词搜索" name="s" id="s">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                      </span>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </header>