<nav class="navbar navbar-static-top navbar-mind" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand visible-xs" href="/"><span>水晶精品</span></a>
            <button class="navbar-toggle btn btn-primary" data-toggle="collapse" data-target=".navbar-mind-collapse"><i class="fa fa-bars fa-inverse"></i><span class="sr-only"> 菜单</span></button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-mind-collapse">
            <ul id="menu-mainmenu" class="nav navbar-nav">
              <li id="menu-item-24" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-24 dropdown">
                <a title="Home" href="/">首页</a>
              </li>
              <li id="menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-27 dropdown"><a title="UI Elements" href="#" data-toggle="dropdown" class="dropdown-toggle">所有分类<span class="caret"></span></a>
              <ul role="menu" class=" dropdown-menu">
                <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a title="CSS" href="#">水晶印章</a></li>
                <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a title="Components" href="#">水晶首饰</a></li>
                <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a title="Additional Components" href="#">水晶挂件</a></li>
              </ul>
              </li>
              <li id="menu-item-25" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-25 dropdown"><a title="Pages" href="#" data-toggle="dropdown" class="dropdown-toggle">水晶工艺</a>
              </li>
              <li id="menu-item-25" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-25 dropdown"><a title="Pages" href="#" data-toggle="dropdown" class="dropdown-toggle">雕刻名师</a>
              <li id="menu-item-25" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-25 dropdown"><a title="Pages" href="#" data-toggle="dropdown" class="dropdown-toggle">客户案例</a>
              </li>
              <li id="menu-item-25" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-25 dropdown"><a title="Pages" href="#" data-toggle="dropdown" class="dropdown-toggle">联系我们</a>
              </li>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">登录</a>
                    <div class="dropdown-menu dropdown-login animated fadeInUp">
                        <form role="form" name="loginform" id="loginform" action="#" method="post">
                            <div class="form-group">
                                <div class="input-group login-input">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" placeholder="用户名" name="log" id="user_login">
                                </div>
                                <br>
                                <div class="input-group login-input">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="密码" name="pwd" id="user_pass">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="rememberme" id="rememberme" value="forever" tabindex="90"> 自动登录
                                    </label>
                                </div>
                                <input type="hidden" name="redirect_to" value="http://razonartificial.com/themes/openmind/wordpress">
                                <input type="hidden" name="testcookie" value="1">
                                <button class="btn btn-success" name="wp-submit" id="wp-submit">立即注册</button>
                                <button class="btn btn-primary" name="wp-submit" id="wp-submit">登录</button>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                                </li> <!-- dropdown -->
            </ul> <!-- nav nabvar-nav -->
        </div><!-- navbar-collapse -->
    </div> <!-- container -->
</nav>